# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.project
.idea/
*.iml
.vscode/

# Tooling
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android-specific
/android/app/debug/
/android/app/profile/
/android/app/release/
/android/local.properties
/android/.gradle/
/android/app/src/main/java/
